.main-title {
    font-size: 35px;
    color: #2b5bfa;
}

.main-title:hover {
    transition: 0.3s ease-in;
    color: #058fb6;
}
.about {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.main-heading {
    text-align: center;
    font-size: 5vh;
    color: #022832;
}

.about-img img {
  width: 75rem;
  border-radius: 20px;
  margin: auto;
  transition: 0.3s ease-in-out;
}

.about-img img:hover {
  transform: scale(1.05);
}

.about p {
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 1px;
}

.about p:hover {
  color: #058fb6;
}


.about-text {
    margin-left: 25px;
}

h1 {
    text-align: center;
}

@media (max-width: 600px) {
  .main-title {
    font-size: 1.3rem;
  }

  .about {
    flex-direction: column;
    width: 98vw;
    align-items: center;
  }
  .about-image {
    width: 90vw;
    max-width: 250px;
    margin-top: 20px;
  }
  .about-text {
    margin-top: 16px;
    margin-left: 0;
    text-align: center;
  }
  p {
    font-size: 14px;
    line-height: 1.6;
    max-width: 70vw;
    margin-bottom: 20px;
  }
}