.team {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.team-heading {
  font-size: 35px;
  color: #2b5bfa;
}

.team-member {
  margin-top: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.team-member h2 {
  color: var(--bg-surface);
  font-size: 20px;
}

.team-member p {
  font-size: 15px;
}

.member-img img {
  width: 200px;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  margin-bottom: 20px;
}

.member-img img:hover {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
  .team {
    margin-left: 0px;
    flex-direction: column;
    justify-content: center;
  }

  .team-member {
    width: 100%;
    max-width: 350px;
  }
}

@media (min-width: 601px) {
  .team-member {
    flex: 1 1 30%; /* Allow items to grow, shrink, and take 30% of the container */
    max-width: 350px; /* Ensure consistent maximum width */
  }
}

@media (min-width: 1025px) {
  .team-member {
    flex: 1 1 30%; /* Same as above for larger screens */
  }
}
