.team {
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 85px;
}

.team-heading {
  font-size: 35px;
  color: #2b5bfa;
}

.team-member {
  margin-top: 30px;
  width: 350px;
  display: flex;
  flex-direction: column;
}

.team-member h2 {
  color: var(--bg-surface);
  font-size: 20px;
}

.team-member p {
  font-size: 15px;
}

.member-img img {
  width: 150px;
  transition: 0.3s ease-in-out;
}

.member-img img:hover {
  transform: translateY(-5px);
}

@media (max-width: 600px) {
    .team {
        margin-left: 0px ;
        flex-direction: column;
        justify-content: center;
    }

    .team-member {
        width: 100%;
        max-width: 350px;
    }
}
