.about-text h2{
    font-size: 40px;
    color: #2b5bfa;
}

.main-title:hover {
    transition: 0.3s ease-in;
    color: #058fb6;
}
.about {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-heading {
    text-align: center;
    color: #022832;
}

.about-img img {
  width: 48rem;
  border-radius: 20px;
  margin: auto;
  transition: 0.3s ease-in-out;
}


.about p {
    line-height: 1.5;
    font-size: 20px;
    letter-spacing: 1px;
}

.about p:hover {
  color: #058fb6;
}


.about-text {
    margin-left: 25px;
}

h1 {
    text-align: center;
}

@media (max-width: 600px) {
  .about-text h2 {
    font-size: 35px;
  }

  .about {
    flex-direction: column;
    width: 98vw;
    align-items: center;
  }
  .about-img img {
    max-width: 600px;
    margin-top: 20px;
    margin-right: 35px;
  }
  .about-text h2 {
    margin-top: 16px;
    margin-right: 70px;
    text-align: center;
  }
  .about-text p {
    font-size: 16px;
    line-height: 1.6;
    max-width: 70vw;
    margin-bottom: 20px;
    margin-left: 30px;
  }
}