.features {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.feature {
    border: 2px solid #022832;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.feature:hover {
    transform: translateY(-5px);
    background-color: #f4fbfd;
}

.feature h3 {
    text-align: center;
    font-size: 17px;
    color: #022832;
    margin-top: 15px;
}

.feature .icon-wrapper img {
    width: 80px;
}

.feature p {
    text-align: center;
    margin-top: 20px;
}
