.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e293b;
  color: #004555;
  padding: 4px;
  position: fixed;
  top: 20px;
  left: 100px;
  width: 87%;
  box-sizing: border-box;
  z-index: 1000;
  border-radius: 20px;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.navlinks a {
  padding: 15px;
  color: #cfcfcf;
  font-weight: bold;
  text-decoration: none;
}

.navlinks a:hover {
  color: #0081bd;
}

.nav-icon {
  color: #2536eb;
  margin-left: 50px;
  width: 100px;
  border-radius: 50%;
}

.nav-icon span{
  color: white;
}

@media (max-width: 600px) {
  .navbar {
    display: grid;
    padding: 20px;
    top: 30px;
    left: 20px;
    width: 90vw;
    border-radius: 20px;
  }

  .nav-icon {
    margin-left: 50%;
  }
  .navlinks {
    margin-left: 50%;
    width: 50%;
    gap: 20%;
  }
  .navlinks a,
  .navlinks button {
    padding: 16px 0px;
    font-size: 15px;
    text-align: center;
  }

  
}
