.team {
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.team-member {
    margin-top: 30px;
    width: 275px ;
    display: flex;
    flex-direction: column;
}

.team-member h2 {
    font-size: 17px;
}

.team-member p {
    font-size: 15px;
}

.member-img img{
    width: 150px;
    transition: 0.3s ease-in-out;
}

.member-img img:hover {
    scale: calc(1.05);
}