.team {
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.team-heading {
    font-size: 35px;
    color: #2536eb;
}

.team-member {
    margin-top: 30px;
    width: 275px ;
    display: flex;
    flex-direction: column;
}

.team-member h2 {
    color: var(--bg-surface);
    font-size: 21px;
}

.team-member p {
    font-size: 15px;
}

.member-img img{
    width: 150px;
    transition: 0.3s ease-in-out;
}

.member-img img:hover {
    transform: translateY(-5px);
}